@font-face {
     font-family: mifuente;
     src: url("OpenSans-Regular.ttf");
}

* {
     font-family: mifuente;
}

body,h1 {
     margin: 0;
}

#header {
     padding: 20px;
     text-align: center;
     background-color: rgb(0, 132, 255);
     color: white;
}

#nav {
     text-align: center;
     background-color: rgb(159, 202, 252);
     margin-bottom: 50px;
     padding: 5px;
}

#nav table {
     position: relative;
     left: 50%;
     transform: translateX(-50%);
}

#nav table td {
     padding-left: 10px;
     padding-right: 10px;
}

#nav a {
     outline: none;
     text-decoration: none;
     padding: 5px;
     color: white;
     border-radius: 10px;
     border: none;
     cursor: pointer;
     font-weight: 700;
     text-decoration: underline;
}

#header h1 {
     display: inline;
}

#header form {
     display: inline;
     position: absolute;
     right: 10px;
     top: 25px;
}

.tablaCRUD {
     margin-top: 20px;
     position: relative;
     left: 50%;
     transform: translateX(-50%);
     width: 800px;
     padding: 20px;
     border-collapse: collapse;
}

.tablaCRUD th, .tablaCRUD tr, .tablaCRUD td {
     padding: 15px;
}
.tablaCRUD th {
     background-color: rgb(0, 140, 255);
     padding: 10px 15px 10px 15px;
     color: white;
     font-weight: 700;
}

.tablaCRUD th:first-child {
     border-top-left-radius: 20px;
}
.tablaCRUD th:last-child {
     border-top-right-radius: 20px;
}

.tablaCRUD tr:last-child td:first-child {
     border-bottom-left-radius: 20px;
}
.tablaCRUD tr:last-child td:last-child {
     border-bottom-right-radius: 20px;
}


.tablaCRUD tr:nth-child(odd) {
     background: rgb(231, 244, 255);
}
   
.tablaCRUD tr:nth-child(even) {
     background: rgb(217, 237, 255);
}

.tablaCRUD tr td:first-child {
     font-weight: 700;
}

.boton {
     outline: none;
     text-decoration: none;
     padding: 5px;
     color: white;
     border-radius: 10px;
     opacity: 0.85;
     border: none;
     cursor: pointer;
}
.boton:hover {
     opacity: 1;
}

.modificar {
     background-color: rgb(39, 138, 39);
}

.eliminar {
     background-color: rgb(192, 80, 80);
}

.multimedia {
     background-color: rgb(224, 181, 62);
}

.visualizar {
     background-color: rgb(110, 6, 196);
}

.nuevo {
     background-color: rgb(0, 110, 255);
     font-weight: 700;
     display: inline-block;
     position: relative;
     left: 50%;
     transform: translateX(-50%);
     margin-top: 20px;
     padding: 10px;
}

.logout {
     background-color: blue;
     font-size: 16px;
     font-weight: 700;
     width: 100px;
}

.tituloAdministracion {
     display: inline-block;
     position: relative;
     left: 50%;
     transform: translateX(-50%);
}

.zona {
     position: absolute;
     cursor: pointer;
}

.fondo_negro {
    width: 100vw; 
    height: 100vh; 
    background-color: black; 
    position: absolute; 
    z-index: -9998;
    opacity: 0.8;
    top: 0;
}
body.plano {
    margin: 0;
    color: white;
}
.lateral {
    padding-left: 80px;
    padding-right: 30px;
    text-align: center;
}
.imagenMultimedia {
    font-size: 50px;
}
.imagenVacia {
    color: black;
    text-shadow: 0px 0px 3px white,0px 0px 3px white,0px 0px 3px white,0px 0px 3px white,0px 0px 3px white,0px 0px 3px white;
}
.imagenRellena {
    color: black;
    text-shadow: 0px 0px 30px gold,0px 0px 30px gold,0px 0px 30px gold;
    transition: 0.5s;
}
.imagenRellena:hover {
    text-shadow: 0px 0px 30px gold,0px 0px 30px gold,0px 0px 30px gold,0px 0px 30px gold;
    cursor: pointer;
}
.tablaGeneral {
    position: relative; 
    left: 50%; 
    transform: translateX(-50%); 
    padding: 30px;
    width: auto;
    top: 75px;
    border-collapse: collapse;
}
#aquiVanLosCanvas {
    position: relative;
}
input[type=range] {
    width: 100%;
    margin: 11.2px 0;
    background-color: transparent;
    -webkit-appearance: none;
    margin-top: 100px;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    background: #ffb100;
    border: 0;
    border-radius: 24.6px;
    width: 100%;
    height: 7.6px;
    cursor: pointer;
}
input[type=range]::-webkit-slider-thumb {
    margin-top: -11.2px;
    width: 30px;
    height: 30px;
    background: #000000;
    border: 3.9px solid #ffffff;
    border-radius: 50px;
    cursor: pointer;
    -webkit-appearance: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ffb60f;
}
input[type=range]::-moz-range-track {
    background: #ffb100;
    border: 0;
    border-radius: 24.6px;
    width: 100%;
    height: 7.6px;
    cursor: pointer;
}
input[type=range]::-moz-range-thumb {
    width: 30px;
    height: 30px;
    background: #000000;
    border: 3.9px solid #ffffff;
    border-radius: 50px;
    cursor: pointer;
}
input[type=range]::-ms-track {
    background: transparent;
    border-color: transparent;
    border-width: 11.2px 0;
    color: transparent;
    width: 100%;
    height: 7.6px;
    cursor: pointer;
}
input[type=range]::-ms-fill-lower {
    background: #f0a600;
    border: 0;
    border-radius: 49.2px;
}
input[type=range]::-ms-fill-upper {
    background: #ffb100;
    border: 0;
    border-radius: 49.2px;
}
input[type=range]::-ms-thumb {
    width: 30px;
    height: 30px;
    background: #000000;
    border: 3.9px solid #ffffff;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 0px;
    /*Needed to keep the Edge thumb centred*/
}
input[type=range]:focus::-ms-fill-lower {
    background: #ffb100;
}
input[type=range]:focus::-ms-fill-upper {
    background: #ffb60f;
}
.tituloZona {
    font-size: 30px;
    font-family: 'Kanit';
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    margin-top: 20px;
}
/*TODO: Use one of the selectors from https://stackoverflow.com/a/20541859/7077589 and figure out
how to remove the virtical space around the range input in IE*/
@supports (-ms-ime-align:auto) {
    /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
    input[type=range] {
         margin: 0;
         /*Edge starts the margin from the thumb, not the track as other browsers do*/
    }
}